LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "rst" SITE "R7";
IOBUF PORT "rst" IO_TYPE=LVCMOS25;

LOCATE COMP "dht11_data" SITE "E4";
IOBUF PORT "dht11_data" IO_TYPE=LVCMOS25;

LOCATE COMP "data" SITE "M7";
IOBUF PORT "data" IO_TYPE=LVCMOS25;

LOCATE COMP "dataReadModule" SITE "P11";
IOBUF PORT "dataReadModule" IO_TYPE=LVCMOS25;
